:root{
    --BORDER: 2px solid #000;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: papayawhip;
    color: whitesmoke;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    font-size: 1.25rem;
}

.logo{
    width: 5em;
    height: auto;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ul{
    display: flex;
    width: 75%;
    justify-content: space-around;
}

ul li{
    list-style-type: none;
}

a:any-link{
    color: whitesmoke;
    text-decoration: none;
}



header{
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.flex-container{
    border: 0.5em dashed green;
    background-color: papayawhip;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0.25em;
}

main{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside{
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:900px) {
    .logo{
        display: none;
    }
    
    .flex-container{
        display: block;
    }

    .flex-container aside{
        height: 48.9%;
    }

    .flex-container main{
        min-height: 50%;
        margin-top: 0.25em;
    }
}

